<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="smart" class="com.training.SmartPhone" scope="prototype">
		
	</bean>
	
	<bean id="key" class="com.training.KeyPadPhone"></bean>
	
	<bean id="emp" class="com.training.Employee">
		<constructor-arg value="Mishan Goti"></constructor-arg>
		<constructor-arg value="101"></constructor-arg>
		<constructor-arg ref="add"></constructor-arg>
	</bean>
	
	<bean id="add" class="com.training.Address">
		<constructor-arg value="Kitchener"></constructor-arg>
		<constructor-arg value="1257"></constructor-arg>
	</bean>
	
</beans>